[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "emacs/live-packs.symlink/evilmode-pack"]
	path = emacs/live-packs.symlink/evilmode-pack
	url = https://github.com/siancu/evilmode-pack
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/handlebars-mode"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/handlebars-mode
	url = git@github.com:danielevans/handlebars-mode.git
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/web-mode"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/emacs-color-theme-solarized"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/solarized-emacs"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/solarized-emacs
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/emacs-spacegray"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/emacs-spacegray
	url = git@github.com:bruce/emacs-spacegray-theme.git
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/tomorrow-theme-emacs"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/tomorrow-theme-emacs
	url = git@github.com:xhh/tomorrow-theme-emacs.git
[submodule "emacs/emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = git://github.com/jmreidy/prelude.git
