[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "emacs/live-packs.symlink/evilmode-pack"]
	path = emacs/live-packs.symlink/evilmode-pack
	url = https://github.com/siancu/evilmode-pack
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/handlebars-mode"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/handlebars-mode
	url = git@github.com:danielevans/handlebars-mode.git
[submodule "emacs/live-packs.symlink/jmreidy-pack/vendor/web-mode"]
	path = emacs/live-packs.symlink/jmreidy-pack/vendor/web-mode
	url = git@github.com:fxbois/web-mode.git
